<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">  
<configuration>    
 

    
      
	<settings>
    <setting name="logImpl" value="SLF4J"/>
    <setting name="logPrefix" value="dao."/>
     </settings>


     
        <mappers>
        <mapper resource="/mapper/sql-mapper.xml" /> 
        <mapper resource="/mapper/overview-mapper.xml" />
            <mapper resource="/mapper/JobMapper.xml" />
       </mappers>


     
</configuration>